.background_fundo{
    background-image: url(../../../assets/background.png)
}

.container{
    max-width: 79.8125rem;
    margin: 0 auto;
}

.artists-inf {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-bottom: 6.25rem;
}

.artists-inf div{
    max-width: 25.0625rem;
    display: flex;
    justify-content: center;
}

.artists-inf .artists{
    flex-direction: column;
    justify-content: space-around;
}

.artists-inf .artists > div{
    justify-content: flex-start;
}

.artists-inf .description{
    font-size: 3.125rem;
    font-weight: bold;
    max-width: 37.25rem;
}

.artists-inf .inf{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.artists-inf .badge img{
    max-width: 12.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    padding-bottom: 0.625rem;
}

.gallery img{
    border: 0.0625rem solid #fff;
}

/* Produtos */

.products {
    display: grid;
    grid-template-columns: 1fr  4fr;

    border-bottom: 0.0625rem solid #5A5757;
}

.products .results{
    margin-top: 4.375rem;
}

.products .results div{
    display: flex;
    justify-content:center;
    flex-direction: column;

    text-align: center;

    margin-top: 4.375rem;
}

.products .results div strong{
    font-size: 3.125rem;
}

.products .results div p{
    font-size: 1.25rem;
    color: var(--subtitle-color)
}

.products-inf {
    border-left: 0.0625rem solid #5A5757;
    
    display: flex;
    flex-direction: column;
}

.products .inf{
    margin: 4.375rem 0;
    display: flex;
    justify-content: space-around;
}

.products .inf div{
    max-width: 27.1875rem;
}

.products .inf div p a{
    color: var(--color-logo);
}


.products .inf p{
    margin-bottom: 3.9375rem;
}

.products  img{
    max-width: 100%;
}

/* Popular */

.popular{
    margin-top: 9.375rem
}

.popular h2{
    font-size: 3.125rem;
    font-weight: 43.75rem;

    margin-bottom: 9.875rem;
}

.popular h2 span {
    color: var(--color-logo);
}

.artists-popular {
    display: flex;
}